@function px2rem($px) {
  $rem: 75;
  @return ($px / $rem) + rem;
}

.lotteryTable{
  width: px2rem(675);
  margin: px2rem(50) auto;
  tr{
    td{
      padding: 0;
      width: px2rem(225);
      height: px2rem(225);
      position: relative;
      img{
        width: px2rem(225);
        height: px2rem(225);
      }
      &.active{
        .mask{
          width: px2rem(225);
          height: px2rem(225);
          background: #f3da00;
          opacity: 0.5;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      
    }
  }
}

.box{
  width: 200px;
  height: 50px;
  background: red;
  position: absolute;
  transform-origin: center center;
  //left: 50%;
  //transform: translateX(-50%);
}